// Main

$body-bg:#0A0A0A;
$body-color: #aaaaaa;
$card-bg: #141414;
$border-color:#525252;
$dark: #60658a;
$heading-color:#ffffff;
$light:#d9d9d9;
$grid-table-color:#b3b3b3;
$heading-bg-color:#111111;
$theme-colors: map-merge($theme-colors,
  (
    "secondary": $secondary,
  )
);

$alert-bg-scale: 60%;
$alert-border-scale: 0%;
$alert-color-scale: 80%;
